@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; border:0; font-size:13px; font-family:"宋体";word-break:break-all; color:#1b426f; }
*{ margin:0; padding:0;}
a{ text-decoration:none;}
img{ border:0px;}

.content{ width:100%;}
.top-news{ line-height:25px; background:url(../images/top-news.jpg) repeat-x; height:25px; text-align:center;}
.top-name{ background:url(../images/top-name.jpg) repeat-x; height:58px;}

.main{ width:100%; min-height:875px; }
.main-left{ width:13%;min-height:875px; float:left;}
.left-line{ float:left; width:1%; background:#bbdef2; min-height:875px; border-left:1px solid #63afed; border-right:1px solid #63afed;}
.right-line{float:left;width:3px; background:#bbdef2; min-height:875px; border-left:1px solid #63afed; border-right:1px solid #63afed;}
.center-line{  min-height:875px;}
.center-line-tip{ height:34px; background:url(../images/tips.jpg) repeat-x;}
.main-right{ width:87%;min-height:875px;float:left;}
.main-right-search{width:100%; height:100%; background:#e5f2fb; padding-top:23px;}

.textbox{margin-left:8px;background:url(../images/textbox.jpg) no-repeat; width:99%; 
         height:72px;}

.n-tbox {margin-left:10px;background:url(../images/n-tbox.jpg) no-repeat;  
         height:72px;}
.textbox p{ padding-top:21px;}
.zhe-juzh {width:1010px;margin:0 auto;
}
.text{ border-radius:5px; border:0; width:711px; height:22px; vertical-align:text-bottom;}
.sel-l{ margin-right:5px;margin-left:10px; vertical-align:text-bottom;}
.task{ background:url(../images/task-background.jpg) repeat-x;}
.hfoot{height:26px; background: url(../images/bottom-pic.jpg) repeat-x; text-align:center; line-height:28px; color:#f0f0f0; clear:both;}

.search-button{ margin-left:5px; float:left;  cursor:pointer; 
                 background:url(../images/search-button.jpg) no-repeat ; width:63px; height:25px;}
.textbox span{ display:inline-block; vertical-align:text-bottom;}

.content-right-title{  color:#FFF;line-height:32px; background:url(../images/new_08.jpg) repeat-x; height:32px; font-weight:bold;}
.content-right-title span{   padding-left:34px; background:url(../images/new_04.jpg) no-repeat 15px;line-height:30px; height:30px; font-size:14px; }
.content-right-t{margin:18px;background:#e7f8ff; border-top:1px #e7e7e7 solid; border-left:1px #e7e7e7 solid;border-bottom:1px #e7e7e7 solid;}
.content-right-t th{ text-align:left; color:#4e4e4e; height:30px;line-height:30px;  font-size:12px;border-right:1px solid #85d8ff;border-left:1px solid #85d8ff;}
.content-right-t td{padding-left:3px;  color:#4e4e4e;height:30px;line-height:30px; text-align:left; border-top:1px solid #e7e7e7;}
.content-right-t td a{ color:#4e4e4e;}
.content-right-t td a:hover{ color:#39a1dc;}

/*搜索选项切换样式*/
.first{background:url(../images/tab.jpg) repeat-x;}
.docket{ width:100%; background:#f7f7f7;height:25px; line-height:25px;}
.docket li{ cursor:pointer; color:#696767; font-weight:bold; min-width:75px;height:25px; line-height:25px; float:left; list-style:none; 
            text-align:center;  border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2; border-top:1px solid #d2d2d2; 
			margin-right:2px; padding-left:2px; padding-right:2px; }


.docket dd {cursor:pointer; color:#696767; font-weight:bold; min-width:75px;height:25px; line-height:25px; float:left; list-style:none; 
            text-align:center;  border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2; border-top:1px solid #d2d2d2; 
			margin-right:2px;}

/*搜索选项切换样式end*/

.list-h{ margin-left:8px;}
.bang{ width:200px; text-align:left; margin:0 auto; display:inline-block;}
.bang-hou{width:800px; text-align:left; margin:0 auto;}
.top-news a{color:#4e4e4e;}
.top-news a:hover{color:#39a1dc;}
.littleimg-style{float:left;}
.mi-tittle{line-height:35px; display:inline-block;height:32px; font-weight:bold;}
.red-text{line-height:28px; color:red; padding-left:15px;}

/*弹出页*/
.tanchu-wk{width:98%;margin:0 auto;}
.tanchu-bg{ text-align:center;  background:url(../images/tanchu.jpg) repeat-x;
 min-height:26px; border-left:1px solid #5cbbf8;  border-bottom:1px solid #5cbbf8; border-right:1px solid #5cbbf8;}
.tanchu-tittle{ text-align:center; font-size:13px; padding-left:5px;line-height:26px; display:inline-block;height:26px; font-weight:bold;}
.tanchu-wk table{ width:100%; border-collapse:collapse;}
.tanchu-wk td{border:1px #cccccc solid; font-size:12px; height:32px; color:#333;}
.button-save{ border:0px; cursor:pointer;background:url(../images/button-tanchu01.png) no-repeat; border:0; width:56px; height:25px; font-size:12px; margin-left:3px;color:#ffffff; font-weight:bold;}
.button-save:hover{ background:url(../images/button-tanchu02.png) no-repeat;}  

/*gonggao*/
.board {background:url(../images/call-board.png) no-repeat; height:410px; width:822px;
}


 .tableBorder {
    border: solid 1px #cacacb;
    border-collapse: collapse; /*表示表格的两边框合并为一条*/
    width:100%;
    margin-bottom: 5px;
}

.tableBorder td {
    height: 27px;
    padding-left: 5px;
    border-left: solid 1px #cacacb;
    border-top: solid 1px #cacacb;
    border-bottom: solid 1px #cacacb;
    height: 35px;
}

.k-primary {
    color: #fff;
    border-color: #47A6D9;
    background-color: #519fd2;
    width: 45px;
}

.k-state-selected {
    background: #dbf0f9 !important;
    border-color: #a4b2c5 !important;
    color: #04678e !important;
}
.k-item {border:1px solid #63afed;
}
.k-item:hover {border:1px solid #63afed;
}